{% extends "layout.html" %}


{% block body %}

    <div class = "jumbotron text-center">
    
    <h3>Kişisel blog sayfama Hoşgeldin</h3>
    <hr>
    <p>Burada göreceğin şeyler kendi projelerim ve makalelerim olacak</p>
    </div>

    <ul>
        
        {% for number in numbers  %}
            <li>{{number}}</li>
        {% endfor %}
            

    </ul>

    <p>

        
        {% if request.user.is_authenticated %}
            Giriş yapıldı, {{request.user.username}}
        {% else %}
            Giriş yapılmadı
        {% endif %}
            

    </p>    

{% endblock body %}